<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src = "form.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>


    <!-- As a heading -->
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Navbar</span>
    </nav>
    <div class="container">
    <form action="/hosteler" method="post">
    <div class ="row">
        <div class="form-group col">
            <label>First Name</label>
            <input id="firstName" type="text" class="form-control" name="firstName" placeholder="First Name">
        </div>

        <div class="form-group col">
            <label>Last Name</label>
            <input id="lastName" type="text" class="form-control" name="lastName" placeholder="Last Name">
        </div>
    </div>
    <div class="form-group">
        <label>Mobile Number</label>
        <input type="text" id="phoneNo" class="form-control" name="phoneNo" placeholder="Enter Number">
    </div>

    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" name="email" placeholder="Enter Email">
    </div>
    <div class="row">
        <div class="form-group col">
            <label>Room Number</label>
            <input type="text" class="form-control" name="roomNo" placeholder="Enter Room Number">
        </div>

        <div class="form-group col">
            <label for="floor">Select Semester</label>
            <select name="floor" class="form-control" id="floor">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>Enter College</label>
        <input type="text" class="form-control" name="collegeName" placeholder="Enter College">
    </div>


    <input id="submit_btn" type="submit" class="btn btn-primary" value="Sign Up">

    </form>
    </div>
</body>
</html>